* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
}
.App .container {
  width: 600px;
  margin: 0 auto;
}
form {
  width: 100%;
  display: flex;
  margin-top: 100px;
  background-color: red;
}
form input {
  padding: 10px 20px;
  font-size: 20px;
}
form input:first-child {
  flex: 1;
}
